.container{
    padding: 3%;
}

.row{
    padding: 3% 0;
    margin: 2%;
}

.card{
    width: 100%;
    max-width: 30rem;
}

.card-title, .card-text{
    text-align: center;
}

.card-header{
    border-bottom: 0px;
    text-align: center;
}

/* .icon-person{
    font-size: 4rem;
} */

@media (max-width: 767px) {
    .container {
      padding: 20% 5% 5% 5%;
    }
    /* .icon-person{
        font-size: 2rem;
    }
    .card-title{
        font-size: 2rem;
    } */
}