.col-home{
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.judul{
    font-size: 3rem;
    font-weight: bold;
    color: #002B5B;
}

.mulai{
    margin: 1% 0 0 0;
    padding: 0.75rem;
    font-size: 1.25rem;
    background-color: #EA5455;
    border-color: #EA5455;
    color: #F9F5F0;
}

.mulai:hover{
    background-color: #002B5B;
    border-color: #002B5B;
    color: #F9F5F0;
}