/* ==========================================================================
    #Table
========================================================================== */
.th-detail{
    width: 17.5%;
}

.th-no, .th-shift , .th-aksi{
    width: 10%;
}
.table-ket{
    width: 40% !important;
    margin-bottom: 1rem;
}

.table-ket td, .table-ket th{
    font-size: 1rem !important;
    padding: .375rem !important;
}

/* ==========================================================================
    #BUTTON
  ========================================================================== */
  
  .btn-aksi {
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
    transition: all 0.4s ease;
  }
  
  
  /* ==========================================================================
      #WRAPPER
    ========================================================================== */
    
  .wrapper--w790 {
    max-width: 75%;
  }
  
  
  /* ==========================================================================
      #Modal
  ========================================================================== */
  
  .modal-header{
      border-bottom: 0px;
  }
  
  .modal-footer{
      border-top: 0px;
  }
  
  .modal-dialog{
      max-width: 80%;
  }
  
  .modal-content{
      padding: 3%;
  }